<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zoey.blog.dao.AdminUserMapper">
    <resultMap id="BaseResultMap" type="com.zoey.blog.entity.AdminUser">
        <id column="admin_user_id" jdbcType="INTEGER" property="adminUserId" />
        <result column="admin_user_name" jdbcType="VARCHAR" property="adminUserName" />
        <result column="admin_password" jdbcType="VARCHAR" property="adminPassword" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="locked" jdbcType="TINYINT" property="locked" />
    </resultMap>
    <sql id="Base_Column_List">
        admin_user_id, admin_user_name, admin_password, nick_name, locked
    </sql>
    <!-- 登陆验证-->
    <select id="login" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from tb_admin_user where admin_user_name = #{userName,jdbcType=VARCHAR} AND admin_password=#{password,jdbcType=VARCHAR} AND locked = 0
    </select>
    <!-- 根据用户 id 查询用户 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from tb_admin_user where admin_user_id = #{adminUserId, jdbcType=INTEGER}
    </select>
    <!-- 修改用户信息 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.zoey.blog.entity.AdminUser">
        update tb_admin_user
        <set>
            <if test="adminPassword != null">
                admin_password = #{adminPassword,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="locked != null">
                locked = #{locked,jdbcType=TINYINT},
            </if>
        </set>
        where admin_user_id = #{adminUserId,jdbcType=INTEGER}
    </update>
</mapper>